@import "tailwindcss";

:root {
  --bg: #ffffff;
  --bg-secondary: #f0f0f0;
  --text-primary: #010101;
  --text-secondary: #333333;
  --border-secondary: #DDDDDD;
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-secondary: var(--bg-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary)
  --color-border-secondary: var(--border-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --bg-secondary: #1a1a1a;
    --text-primary: #FEFEFE;
    --text-secondary: #CCCCCC;
    --border-secondary: #444444;
  }
}

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-secondary {
  color: var(--text-secondary);
}

.border-primary {
  border-color: var(--text-primary);
}

.border-secondary {
  border-color: var(--border-secondary);
}

.product-info-grid {
  display: grid;
  grid-template-areas:
    "title title"
    "value rating"
    "divider divider"
    "description description";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
  width: 100%;
}

.area-title {
  grid-area: title;
}
.area-value {
  grid-area: value;
}

.area-divider {
  grid-area: divider;
}

.area-rating {
  grid-area: rating;
  margin-right: 0.5rem;
}
.area-description {
  grid-area: description;
}